@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  margin: 0px;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

img {
  float: left;
  padding-right: 10px;
}

p {
  font-size: 15px;
  line-height: 25px;
}

h1 {
  line-height: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: lighter;
  color: purple;
}

#wrapper {
  width: 100%;
}

#map {
  width: 100%;
  margin: 0 auto;
  height: 600px;
}

#controls {
  width: 100%;
  margin: 10px;
  float: left;
}

#form {
  margin-top: 5px;
  font-size: 12px;
  text-align: left;
  line-height: 16px;
  width:375px;
  float: left;
  font-weight: lighter;
}

#header {
  margin-top: 0px;
  margin-bottom: 0px;
}

#credits p {
  margin-top: 5px;
  font-size: 12px;
  text-align: right;
  line-height: 10px;
}

input[type="button"] {
  background-color: purple; 
  border: none;
  color: white;
  padding: 10px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 10px;
}

.ui-widget-header {
  color: purple;
}
